<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Colorful Boxes App</title>
    <link rel="stylesheet" type="text/css" href="colorfulboxstyle.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
