<h1>Colorful Boxes App</h1>

<form method="post" action="/box">
  What color do you want your big box to be?<br>
  Red: <input type="number" name="red_box" value="">
  Green: <input type="number" name="green_box" value="">
  Blue: <input type="number" name="blue_box" value="">
<br>
  What color do you want your little box to be? (rgb)<br>
  Red: <input type="number" name="red_sm_box" value="">
  Green: <input type="number" name="green_sm_box" value="">
  Blue: <input type="number" name="blue_sm_box" value="">

  <input type="submit" name="Submit">
</form>
